{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href="{% static 'css/reg.css' %}">
</head>
<body>
    <h1>Sign In</h1>
        <div class="container">
            
            <img src="{% static 'lasu.jpg' %}">

            <form method="post">
                {% for message in messages %}
                    <h3>{{ message }}</h3>
                {% endfor %}
                {% csrf_token %}
                <label>Username: <input  id="username"  placeholder="Aa" type="text" name="username"></label>
                <label>Enter Password: <input  id="password"  placeholder="***" type="password" name="password"></label>
                <button>Sign In</button>

                <p>Don't have an account?<br><a href="/signup">Sign Up</a>.</p>
            </form>
        </div>
</body>
</html>